<div class="main-container">
  <div class="content-container">
    <app-sidebar></app-sidebar>
    <div class="courses-content">
      <h1>All Courses</h1>
      <div class="courses-controlls">
        <div class="courses-count">{{ filteredCourses.length }} Courses</div>

        <div class="filter-container">
          <!-- Custom Dropdown Menu -->
          <div class="filter-menu">
            <button class="menu-button" (click)="toggleMenu()">
              Sort & Filter
            </button>
            <div class="menu-panel" [class.open]="isMenuOpen">
              <div class="menu-header">
                <span>Filter</span>
                <button class="close-button" (click)="toggleMenu()">×</button>
              </div>
              <div class="menu-body">
                <div class="sort-options">
                  <div class="sort-criteria">
                    <label>
                      <input
                        type="radio"
                        name="sortCriteria"
                        [value]="'name'"
                        [(ngModel)]="sortBy"
                        (change)="setSort('name')"
                      />
                      Name
                    </label>
                    <label>
                      <input
                        type="radio"
                        name="sortCriteria"
                        [value]="'duration'"
                        [(ngModel)]="sortBy"
                        (change)="setSort('duration')"
                      />
                      Duration
                    </label>
                  </div>
                  <div class="menu-header">
                    <span>Sort By</span>
                  </div>
                  <div class="sort-order">
                    <label>
                      <input
                        type="radio"
                        name="sortOrder"
                        [value]="'asc'"
                        [(ngModel)]="sortOrder"
                        (change)="setSortOrder('asc')"
                      />
                      Ascending
                    </label>
                    <label>
                      <input
                        type="radio"
                        name="sortOrder"
                        [value]="'desc'"
                        [(ngModel)]="sortOrder"
                        (change)="setSortOrder('desc')"
                      />
                      Descending
                    </label>
                  </div>
                </div>
                <button class="reset-button" (click)="resetFilters()">
                  Reset Filters
                </button>
              </div>
            </div>
          </div>

          <div class="seach-container">
            <input
              type="text"
              placeholder="Search courses"
              [(ngModel)]="searchTerm"
              (input)="filterCourses()"
            />
            <select [(ngModel)]="selectedCategory" (change)="filterCourses()">
              <option [ngValue]="{ id: '', name: '', description: '' }">
                All Categories
              </option>
              <option *ngFor="let category of categories" [ngValue]="category">
                {{ category.name }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="courses-list">
        <div class="course" *ngFor="let course of filteredCourses">
          <div class="course-image">
            <img [src]="course.imageUrl" alt="course" />
          </div>
          <div class="course-info">
            <div class="course-title">{{ course.title }}</div>
            <div class="course-description">{{ course.description }}</div>
            <div class="course-modul"><b>Modules : </b> {{ 0 }}</div>
            <div class="course-duration">
              <b>Duration : </b> {{ getDurationString(course.duration) }}
            </div>
          </div>
          <div class="enroll-container">
            <button class="enroll-button" (click)="viewDetails(course.id!)">
              View Details
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
