<div class="course-container" *ngIf="course">
    <div class="course-header">
      <div class="header-left">
        <h1>{{ course.title }}</h1>
        <button class="enroll-btn">Enroll for Free</button>
        <br />
       
        <p class="stats">Already enrolled</p>
        <p class="coursera-plus">
          Included with <span class="plus">Alamni</span>
        </p>
  
        <div class="modules-section" *ngIf="course.modules && course.modules.length > 0">
          <h3>Modules</h3>
          <ul class="modules-list">
            <li *ngFor="let module of course.modules">
              <span>{{ module.title }}</span>
              <ul>
                <li *ngFor="let lesson of module.lessons">
                  {{ lesson.title }} - {{ lesson.type }}
                  <button
                    *ngIf="lesson.type === 'Video'"
                    class="lesson-btn"
                    
                  >
                    Watch Video
                  </button>
                  <button
                    *ngIf="lesson.type === 'PDF'"
                    class="lesson-btn"
                    
                  >
                    Quiz
                  </button>
                  <button
                  *ngIf="lesson.type === 'PDF'"
                  class="lesson-btn read-pdf-btn"
                  
                >
                  Read PDF
                </button>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  
    <div class="course-details">
      <div class="detail-box">
        <h3>Category</h3>
        <p>{{ course.category }}</p>
      </div>
      <div class="detail-box">
        <h3>Level Required</h3>
        <p>{{ course.levelRequired }}</p>
      </div>
      <div class="detail-box">
        <h3>Duration</h3>
        <p>{{ course.duration }} mins</p>
      </div>
      <div class="detail-box">
        <h3>Description</h3>
        <p>{{ course.description }}</p>
      </div>
    </div>
  </div>
  