<div class="sidebar">
  <a [routerLink]="['/library']" routerLinkActive="active" class="sidebar-item">
    <i class="fas fa-book"></i>
    My Library
  </a>
  <a [routerLink]="['/courses']" routerLinkActive="active" class="sidebar-item">
    <i class="fas fa-graduation-cap"></i>
    Courses
  </a>
  <a
    [routerLink]="['/leaderboard']"
    routerLinkActive="active"
    class="sidebar-item"
  >
    <i class="fas fa-trophy"></i>
    Leaderboard
  </a>
</div>

<div class="routes">
  <router-outlet></router-outlet>
</div>
