<body>
  <div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
      <div class="col-md-3 border-right">
        <div class="d-flex flex-column align-items-center text-center p-3 py-5">
          <img
            class="rounded-circle mt-5"
            width="150px"
            src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"
          /><span class="font-weight-bold">{{ username }}</span>
          <span class="text-black-50">
            <i class="fas fa-trophy"></i> Level {{ user.level }}
          </span>
          <span class="text-black-50">
            <i class="fas fa-star"></i> {{ user.points }} points
          </span>

          <span> </span>
        </div>
      </div>
      <div class="col-md-5 border-right">
        <div class="p-3 py-5">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="text-right">Profile Info</h4>
          </div>
          <div class="row mt-2">
            <div class="col-md-6">
              <label class="labels">Name</label
              ><input
                type="text"
                class="form-control"
                placeholder=""
                [(ngModel)]="user.firstName"
                [disabled]="false"
              />
            </div>
            <div class="col-md-6">
              <label class="labels">Lastname</label
              ><input
                type="text"
                class="form-control"
                [(ngModel)]="user.lastName"
                [disabled]="false"
              />
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12">
              <label class="labels">Email</label
              ><input
                type="text"
                class="form-control"
                placeholder=""
                value="{{ user.email }}"
                disabled
              />
            </div>
            <div class="col-md-12">
              <label class="labels">Username</label
              ><input
                type="text"
                class="form-control"
                placeholder=""
                value="{{ user.username }}"
                disabled
              />
            </div>
            <div class="col-md-12">
              <label class="labels">Birth Date</label
              ><input
                type="date"
                class="form-control"
                placeholder=""
                value="{{ user.dateOfBirth }}"
                disabled
              />
            </div>
          </div>
          <div class="mt-5 text-center">
            <button
              class="btn btn-primary profile-button"
              type="button"
              (click)="updateProfile()"
            >
              Update Profile
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="p-3 py-5">
          <h4 class="text"><i class="fas fa-award"></i> Badges</h4>
          <div class="badges-grid">
            <div *ngFor="let badge of badges" class="badge-container">
              <img
                [src]="badge.icon"
                [alt]="badge.name"
                class="badge-icon"
              />
              <span class="badge-name">{{ badge.name }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
