<div class="dashboard">
  <div class="section learn-section">
    <h2 class="section-title"><i class="fas fa-book"></i> Learn</h2>
    <div class="card track-card wide-card">
      <p class="enrollment-text">
        You're enrolled in the <a href="#">{{ lastUnfinishedCourse?.title }}</a> track.
      </p>
      <h3 class="card-title">{{ lastUnfinishedCourse?.description }}</h3>
      <div class="status-container">
        <i class="fas fa-hourglass-half"></i>
        <p class="status-text">Not finished yet</p>
      </div>
      <div class="button-container">
        <button class="btn-primary">Keep Making Progress</button>
      </div>
    </div>

    <h2 class="section-title"><i class="fas fa-flask"></i> Your Enrolled Courses</h2>
    <div class="card datalab-card wide-card">
      <div *ngIf="courses.length > 0" class="courses-container">
        <ul>
          <li *ngFor="let course of courses" class="course-card">
            <div class="course-content">
              <h3>{{ course?.title }}</h3>
              <p>{{ course?.description }}</p>
              <img *ngIf="course?.imageUrl" [src]="course?.imageUrl" alt="{{ course?.title }}" class="course-image" />
            </div>
            <button class="btn-course">Continue</button>
          </li>
        </ul>
      </div>
    </div>
    
    
  </div>

  
  <div class="section profile-section">
    <div class="card profile-summary">
      <h3 class="profile-name">
        <i class="fas fa-user-circle"></i> Hey, {{ username }}!
      </h3>
      <p class="profile-completion">Profile 30% complete</p>
      <div class="progress-bar">
        <div class="progress" style="width: 30%"></div>
      </div>
    </div>

    <div class="card stats-card">
      <div class="stat">
        <p class="stat-value">{{ user?.level }}</p>
        <p class="stat-label">Level</p>
      </div>
      <div class="stat">
        <p class="stat-value">{{ user?.points }}</p>
        <p class="stat-label">Points</p>
      </div>
    </div>

    <div class="card progress-card">
      <p>
        <i class="fas fa-check-circle"></i> Courses completed:
        <strong>0</strong>
      </p>
      <p><i class="fas fa-trophy"></i> Tracks completed: <strong>0</strong></p>
      <p>
        <i class="fas fa-clipboard-list"></i> Projects completed:
        <strong>0</strong>
      </p>
    </div>
  </div>
</div>

 

